{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>热门剧集</title>
</head>
<body>

<!-- 图表容器 DOM -->

{% for _ in douban_tv_data %}
    <div id="container{{ forloop.counter }}" style="min-width:400px;height:400px"></div>
    <br><br><br>
{% endfor %}


<!-- highcharts.js -->

<!-- cdn -->
{#<script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>#}

<!-- 本地 -->
<script src="{% static 'highcharts/highcharts.js' %}"></script>

<script>
    {% for per_tag_data in douban_tv_data %}
        var chart = Highcharts.chart('container{{ forloop.counter }}', {
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: '{{ per_tag_data.tag | safe }}'
            },
            xAxis: [{
                categories:{{ per_tag_data.titles | safe }},
                crosshair: true
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value} 分',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text: '评分',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: '评论人数',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} 人',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 100,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                itemStyle: {
                    color: '#000000',
                    fontWeight: 'bold'
                }
            },
            colors: ['#2f7ed8', '#8bbc21', '#1aadce', '#492970', '#f25912', '#77a1e5', '#c42525', '#a6c96a'],
            series: [{
                name: '评论人数',
                colorByPoint: true,
                type: 'column',
                yAxis: 1,
                data: {{ per_tag_data.votes | safe }},
                tooltip: {
                    valueSuffix: ' 人'
                }
            }, {
                name: '评分',
                color: '#f28f3b',
                type: 'line',
                data: {{ per_tag_data.rates | safe }},
                tooltip: {
                    valueSuffix: '分'
                }
            },]
        });
    {% endfor %}


</script>
</body>
</html>